/*
Theme Name: Beyond Minimal
Description: Used to style the editor.
*/

/* Entry-Title */
.editor-post-title__block .editor-post-title__input {
	color: #111;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.2;
}

.editor-post-title__block .editor-post-title__input:lang(ja) {
	font-size: 32px;
}

/* Base */
body {
	color: #444;
	font-size: 17px;
	line-height: 1.5;
}
body:lang(ja) {
	line-height: 1.8;
}

/* Heading */
h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: #111;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.4;
}
h1 {
	font-size: 2.5rem;
	margin-bottom: 1em;
	margin-top: 2em;
}
h2 {
	font-size: 1.75rem;
	margin-bottom: 1em;
	margin-top: 2em;
}
h3 {
	font-size: 1.5rem;
	margin-bottom: 1em;
	margin-top: 1.5em;
}
h4 {
	font-size: 1.25rem;
	margin-bottom: 1em;
	margin-top: 1.5em;
}
h5 {
	font-size: 1.125rem;
	margin-bottom: 0.5em;
	margin-top: 1em;
}
h6 {
	font-size: 1.063rem;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

/* Link */
a {
	color: #a62425;
	text-decoration: underline;
}

/* Text */
p {
	margin: 0 0 1.5em;
	font-size: 100%;
}
b, strong {
	font-weight: 700;
}
dfn, q, cite, em, i {
	font-style: italic !important;
}
q {
	quotes: "" "";
}
cite {
	border-bottom: dotted 1px #777;
}
code, kbd, tt, var {
	color: #777;
	border-bottom: solid 1px #ddd;
	font-family: Consolas, 'Courier New', monospace;
	font-size: 81.3%;
}
abbr, acronym {
	border-bottom: 1px dotted #777;
	cursor: help;
}
mark, ins {
	background-color: #ede9df;
	text-decoration: none;
}

/* Table */
table {
	border-collapse: collapse;
	border-spacing: 0;
	border-top: solid 1px #e6e6e6;
	font-size: 93.8%;
	margin: 0 0 1.6em;
	width: 100%;
}
caption {
	margin-bottom: 0.6em;
}
table th, table td {
	border-bottom: solid 1px #e6e6e6;
	padding: 0.8em 1.3em 0.8em 0;
}
th {
	font-weight: 600;
	text-align: left;
}

/* Elements */
blockquote {
	border: none !important;
	color: #777;
	font-style: italic;
	margin: 0 0 2.4em;
	padding: 12px 0 0 44px !important;
	position: relative;
}
blockquote:before {
	color: #e6e6e6;
	content: "\201C";
	font-family: Georgia, serif;
	font-size: 84px;
	left: -5px;
	line-height: 1;
	position: absolute;
	top: -5px;
}
.wp-block-quote__citation,
.wp-block-pullquote__citation {
	font-size: 90%;
	text-transform: none;
}
.wp-block-pullquote {
	border: none;
	padding: 12px 0;
}
address {
	margin: 0 0 1.5em;
}
pre {
	border-left: solid 3px #e6e6e6;
	color: #777;
	font-family: Consolas, 'Courier New', monospace;
	font-size: 81.3%;
	line-height: 1.4;
	margin: 0 0 1.7em;
	max-width: 100%;
	overflow: auto;
	padding: 1.5em;
	word-wrap: normal;
}

/* Layout */
.wp-block {
	max-width: 730px;
}

/* For the TinyMCE editor */
html .mceContentBody {
	max-width: 700px;
}