/*
Theme Name: Beyond Minimal
Theme URI: https://webdevsolutions.co.nz/beyond_minimal_demo/
Author: Web Dev Solutions
Author URI: https://webdevsolutions.co.nz/
Description: Beyond Minimal is an extremely minimal WordPress theme inspired by the Small Internet movement.
Beyond Minimal is compatible with WordPress 5.0+.
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: beyond-minimal
Tags: small-internet, gemini, gopher
*/

/* Global
------------------------------------------------------------ */

/* Root
   These values are used for adjusting headings size (not for body size) */
html {
	font-size: 85%;
}
@media screen and (min-width: 783px) {
	html {
		font-size: 100%;
	}
}

/* Base */
body {
	color: #444;
	font-family: system-ui, -system-ui, -apple-system, BlinkMacSystemFont, Ubuntu, Roboto, Helvetica, Arial,
	sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 18px;
	line-height: 1.5;
	word-wrap: break-word;
}

::selection {
	background-color: #ede9df;
	color: #333;
}
::-moz-selection {
	background-color: #ede9df;
	color: #333;
}
@media screen and (min-width: 783px) {
	body {
		font-size: 17px;
	}
}

/* Heading */
h1, h2, h3, h4, h5, h6, .site-title {
	clear: both;
	color: #111;
	font-weight: 700;
	line-height: 1.4;
}
h1 {
	font-size: 2.5rem;
	margin-bottom: 1em;
	margin-top: 2em;
}
h2 {
	font-size: 1.75rem;
	margin-bottom: 1em;
	margin-top: 2em;
}
h3 {
	font-size: 1.5rem;
	margin-bottom: 1em;
	margin-top: 1.5em;
}
h4 {
	font-size: 1.25rem;
	margin-bottom: 1em;
	margin-top: 1.5em;
}
h5 {
	font-size: 1.125rem;
	margin-bottom: 0.5em;
	margin-top: 1em;
}
h6 {
	font-size: 1.063rem;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

/* Link */
a {
	color: inherit;
	text-decoration: none;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, color .15s ease-in-out, opacity .15s ease-in-out;
	border-bottom: solid 1px #ddd;
}
.entry-content cite a, .comment-content cite a {
	text-decoration: none;
}

/* Text */
p {
	margin: 0 0 1.5em;
}
b, strong {
	font-weight: 700;
}
dfn, q, cite, em, i {
	font-style: italic;
}
q {
	quotes: "" "";
}
cite {
	border-bottom: dotted 1px #777;
}
code, kbd, tt, var {
	color: #777;
	border-bottom: solid 1px #ddd;
	font-family: Hack, Consolas, 'Courier New', monospace;
	font-size: 81.3%;
}
abbr, acronym {
	border-bottom: 1px dotted #777;
	cursor: help;
}
mark, ins {
	background-color: #ede9df;
	text-decoration: none;
}
ins.adsbygoogle {
	background-color: transparent;
}

/* List */
ul, ol {
	margin: 0 0 1.5em 1.5em;
	padding: 0;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dl {
	margin: 0;
}
dt {
	font-weight: 600;
	margin-bottom: 0.5em;
}
dd {
	margin: 0 0 1.5em 1.5em;
}

/* Table */
table {
	border-collapse: collapse;
	border-spacing: 0;
	border-top: solid 1px #e6e6e6;
	font-size: 93.8%;
	margin: 0 0 1.6em;
	width: 100%;
}
caption {
	margin-bottom: 0.6em;
}
table th, table td {
	border-bottom: solid 1px #e6e6e6;
	padding: 0.8em 1.3em 0.8em 0;
}
th {
	font-weight: 600;
	text-align: left;
}

/* Elements */
blockquote {
	color: #777;
	font-style: italic;
	margin: 0 0 2.4em;
	padding: 12px 0 0 44px;
	position: relative;
}
blockquote:before {
	color: #e6e6e6;
	content: "\201C";
	font-size: 84px;
	left: -5px;
	line-height: 1;
	position: absolute;
	top: -5px;
}
address {
	margin: 0 0 1.5em;
}
pre {
	border-left: solid 3px #e6e6e6;
	color: #777;
	font-family: Hack, Consolas, 'Courier New', monospace;
	font-size: 81.3%;
	line-height: 1.4;
	margin: 0 0 1.7em;
	max-width: 100%;
	overflow: auto;
	padding: 1.5em;
	word-wrap: normal;
}
hr {
	background-color: #8f98a1;
	border: 0;
	height: 2px;
	margin: 1.6em auto;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
}

/* Media */
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
figure {
	margin: 0;
}
embed,
iframe,
object {
	max-width: 100%;
}

/* Form */
button,
input,
input[type="search"],
select,
textarea {
	background-color: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #e6e6e6;
	border-bottom: solid 1px #ccc;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ccc;
	border-top: solid 1px #ddd;
	font-size: 87.5%;
	line-height: 1;
	padding: 0.9em 1.5em;
	text-shadow: 1px 1px 0 #fff;
	text-transform: uppercase;
	transition: .15s ease-in-out;
}
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #ededed;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: solid 1px #e6e6e6;
	color: #777;
	margin-top: 0.4em;
	padding: 0.6em;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #444;
}
select {
	padding: 0.4em;
}
textarea {
	max-width: 700px;
	width: 100%;
}


/* Repeatable Patterns
------------------------------------------------------------ */

/* Alignments */
.aligncenter,
.alignleft,
.alignright {
	margin-bottom: 1.5em;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Caption */
.wp-caption {
	color: #999;
	font-size: 87.5%;
	font-style: italic;
	margin-bottom: 1.7em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0.4em auto 0;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.9em 0;
}

/* WP Smiley */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f8f8f8;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	clip: auto !important;
	color: #06c;
	display: block;
	font-size: 14px;
	font-weight: 600;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.site-content:before,
.site-content:after,
.entry-content:before,
.entry-content:after,
.post-list .hentry:before,
.post-list .hentry:after,
.author-profile:before,
.author-profile:after,
.comment-content:before,
.comment-content:after,
.comment-navigation:before,
.comment-navigation:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.paging-navigation:before,
.paging-navigation:after,
.post-navigation:before,
.post-navigation:after,
.widget:before,
.widget:after,
ul.instagram-pics:before,
ul.instagram-pics:after {
	content: "";
	display: table;
}
.clear:after,
.site-content:after,
.entry-content:after,
.post-list .hentry:after,
.author-profile:after,
.comment-content:after,
.comment-navigation:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.paging-navigation:after,
.post-navigation:after,
.widget:after,
ul.instagram-pics:after {
	clear: both;
}


/* Layout
------------------------------------------------------------ */

/* Base */
body {
	background-color: #fff;
	margin: 15px 20px;
}
.site {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}
.site-top {
	margin-bottom: 25px;
	border-bottom: solid 1px #e6e6e6;
	padding-bottom: 25px;
}
.header-image {
	margin-bottom: 60px;
	margin-left: -20px;
	margin-right: -20px;
}
.home-text {
	margin-bottom: 60px;
	padding-bottom: 10px;
}
.post-thumbnail-large {
	margin-bottom: 30px;
	margin-left: -20px;
	margin-right: -20px;
}
.content-area {
	margin-bottom: 0px;
}
.page-header {
	margin-bottom: 60px;
}
.hentry {
	margin-bottom: 60px;
}
.page .hentry {
	margin-bottom: 0;
}
.widget {
	margin-bottom: 60px;
}
.widget h2 {
	margin-top: 0;
}
.footer-widget-area {
	border-top: solid 1px #e6e6e6;
	padding-top: 30px;
}
.site-bottom {
	border-top: solid 1px #e6e6e6;
	padding-top: 45px;
}
@media screen and (min-width: 783px) {
	body {
		margin: 40px 40px;
	}
	.site-top {
		border-bottom: none;
	}
	.main-navigation {
		margin-top: 15px;
	}
	.header-image {
		margin-bottom: 75px;
		margin-left: auto;
		margin-right: auto;
	}
	.home-text {
		margin-bottom: 75px;
		padding-bottom: 20px;
	}
	.post-thumbnail-large {
		margin-left: auto;
		margin-right: auto;
	}
	.content-area {
		margin-bottom: 0px;
	}
	.page-header {
		margin-bottom: 75px;
	}
	.hentry {
		margin-bottom: 75px;
	}
	.widget {
		margin-bottom: 75px;
	}
	.footer-widget-area {
		padding-top: 60px;
	}
	.site-bottom {
		padding-top: 60px;
	}
}
@media screen and (min-width: 980px) {
	.site {
		max-width: 1035px;
	}
	.site-top {
		margin-bottom: 70px;
	}
	.header-image {
		margin-bottom: 90px;
	}
	.home-text {
		margin-bottom: 90px;
		padding-bottom: 25px;
	}
	.footer-widget-table,
	.footer-side .site-bottom-table {
		display: table;
		width: 100%;
	}
	.footer-widget-side,
	.footer-side .site-info {
		display: table-cell;
		padding-right: 75px;
		vertical-align: top;
		width: 32.36%;
	}
	.footer-widget-main,
	.footer-side .site-info {
		display: table-cell;
		padding-top: 0;
		text-align: left;
		vertical-align: top;
		width: 67.64%;
	}
	.header-side .site-branding,
	.header-side .main-navigation {
		vertical-align: bottom;
	}
	.header-side .main-navigation {
		margin-top: 0;
	}
	.post-thumbnail-large {
		float: left;
		margin-bottom: 90px;
		min-height: 430px;
		width: 100%;
	}
	.content-area {
		box-sizing: border-box;
		width: 74.88%;
	}
	.no-sidebar .hentry {
		position: relative;
	}
	.no-sidebar .entry-float {
		box-sizing: border-box;
		top: -41px;
		padding-right: 75px;
		position: absolute;
		width: 47.88%;
	}
	.page .content-area {
		margin-top: -8px;
	}
	.large-thumbnail .content-area {
		background-color: #fff;
		margin-top: -280px;
		padding-top: 60px;
	}
	.page.large-thumbnail .content-area {
		margin-top: -265px;
	}
	.full-width .post-thumbnail-large {
		float: none;
	}
	.full-width .content-area,
	.page.full-width .content-area {
		background-color: transparent;
		float: none;
		margin-top: 0;
		padding-left: 0;
		padding-top: 0;
		width: auto;
	}
	.footer-widget {
		display: table;
		padding-top: 0;
		table-layout: fixed;
		max-width: none;
		width: 100%;
	}
	.footer-widget .widget-area {
		display: table-cell;
		padding: 0 21px 0 19px;
		vertical-align: top;
	}
	.footer-widget .widget-area:first-child {
		padding-left: 0;
	}
	.footer-widget .widget-area:last-child {
		padding-right: 0;
	}
	.footer-3 .footer-widget .widget-area {
		width: 33.3%;
	}
	.footer-2 .footer-widget .widget-area {
		width: 50%;
	}
	.footer-1 .footer-widget .widget-area {
		width: 100%;
	}
}


/* Header
------------------------------------------------------------ */

.site-branding {
	padding-bottom: 10px;
}
.site-logo {
	line-height: 1;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 10px;
	vertical-align: middle;
}
.site-logo a:hover {
	opacity: 0.8;
}
.site-logo img {
	zoom: 90%;
}
.site-title {
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 0;
	margin-top: 0;
	vertical-align: middle;
}
.site-title a,
.site-title a:hover {
	color: #111;
	border-bottom: none;
}
.site-title a:hover {
	opacity: 0.8;
}
.site-description {
	color: #777;
	font-style: italic;
	line-height: 1.4;
	padding-top: 4px;
}
.home-text {
	color: #777;
	font-size: 27px;
	line-height: 1.6;
}
@media screen and (min-width: 783px) {
	.site-logo img {
		zoom: 1;
	}
	.site-title {
		font-size: 42px;
	}
	.home-text {
		font-size: 32px;
	}
	.site-branding .custom-logo {
		max-width: 20%;
		float: left; 
	}
	.wp-custom-logo .site-title-and-description-container {
		width: 80%;
		float: left;
		text-align: center;
	}
	#site-navigation {
		clear: both;
	}
}


/* Menus
------------------------------------------------------------ */

/* Main Navigation */
.main-navigation {
	font-size: 93.8%;
}
.main-navigation ul {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
}
.main-navigation ul li {
	font-size: 1.3em;
	margin-bottom: 10px;
}
.main-navigation ul li a {
	border-bottom: none;
}
.main-navigation ul ul {
	margin-top: 15px;
}
.main-navigation ul ul li {
	font-size: 0.8em;
	margin-bottom: 15px;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
	color: #111;
}
.main-navigation .search-form,
.main-navigation .search-submit {
	display: none;
}
@media screen and (min-width: 783px) {
	.main-navigation {
		line-height: 52px;
		text-align: left;
		position: relative;
		z-index: 99;
	}
	.main-navigation ul li {
		font-size: 1em;
		margin-bottom: 0;
	}
	.main-navigation ul ul {
		margin-top: 0;
	}
	.main-navigation ul ul li {
		font-size: 1em;
		margin-bottom: 0;
	}
	.main-navigation a {
		display: block;
		padding-left: 16px;
		padding-right: 16px;
	}
	.main-navigation li {
		position: relative;
	}
	.main-navigation div.menu > ul,
	.main-navigation ul.menu {
		letter-spacing: -0.4em;
		padding-right: 60px;
		text-transform: uppercase;
	}
	.no-search .main-navigation div.menu > ul,
	.no-search .main-navigation ul.menu {
		padding-right: 0;
	}
	.main-navigation div.menu > ul > li,
	.main-navigation ul.menu > li {
		display: inline-block;
		letter-spacing: normal;
		white-space: nowrap;
		text-align: left;
	}
	.main-navigation div.menu > ul > li:first-child > a,
	.main-navigation ul.menu > li:first-child > a {
		padding-left: 0;
	}
	.main-navigation div.menu > ul > li:last-child > a,
	.main-navigation ul.menu > li:last-child > a {
		padding-right: 0;
	}
	.main-navigation ul ul {
		background-color: #fff;
		box-shadow: 0 1px 3px #ddd;
		left: -9999px;
		opacity: 0;
		position: absolute;
		text-transform: none;
		top: 100%;
		transition: opacity .3s ease-in-out;
		white-space: normal;
		width: 220px;
		z-index: 99999;
	}
	.main-navigation ul ul ul {
		top: 0;
	}
	.main-navigation ul li:hover > ul {
		left: 0;
		opacity: 1;
	}
	.main-navigation div.menu > ul > li:first-child:hover > ul,
	.main-navigation ul.menu > li:first-child:hover > ul {
		left: -18px;
	}
	.main-navigation div.menu > ul > li:last-child:hover > ul,
	.main-navigation ul.menu > li:last-child:hover > ul {
		left: auto;
		right: -18px;
	}
	.main-navigation ul ul li:hover > ul {
		left: 100%;
		opacity: 1;
	}
	.main-navigation ul ul li a {
		border-top: 1px solid #e6e6e6;
		line-height: 1.5;
		padding-bottom: 14px;
		padding-top: 14px;
	}
	.main-navigation  ul ul li.page_item_has_children > a,
	.main-navigation  ul ul li.menu-item-has-children > a {
		padding-right: 20px;
	}
	.main-navigation  ul ul li.page_item_has_children > a:after,
	.main-navigation  ul ul li.menu-item-has-children > a:after {
		content: ">";
		position: absolute;
		right: 8px;
		top: 14px;
	}
	.main-navigation .search-form {
		bottom: 0;
		display: block;
		position: absolute;
		right: 0;
	}
	.main-navigation .search-field {
		background: url( "images/search-icon.png" ) 5px center no-repeat;
		background-size: 24px 24px;
		border: none;
		cursor: pointer;
		height: 40px;
		margin-top: 0;
		outline: 0;
		padding: 0 0 0 34px;
		transition: width .4s ease, background .4s ease;
		width: 1px;
	}
	.main-navigation .search-field:focus {
		background-color: #fff;
		border: solid 1px #e6e6e6;
		cursor: text;
		max-width: 100%;
		width: 240px;
	}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.main-navigation .search-field {
		background-image: url( "images/search-icon@2x.png" );
	}
}

/* Other Navigations */
.footer-social-link {
	font-size: 87.5%;
}
.footer-social-link ul {
	list-style: none;
	margin: 0 0 25px 0;
}
.footer-social-link li {
	display: inline-block;
	padding-left: 12px;
}
.footer-social-link li:first-child {
	padding-left: 0;
}

/* Content
------------------------------------------------------------ */

/* Entry Meta */
.entry-meta {
	color: #999;
	display: inline-block;
	font-size: 93.8%;
	margin-bottom: 8px;
}
.entry-meta a {
	border-bottom: none;
}
.entry-meta a:hover {
	color: #666;
}
@media screen and (min-width: 980px) {
	.no-sidebar .entry-float .entry-meta {
		margin-top: 4px;
	}
	.no-sidebar .post-full .entry-meta {
		margin-top: 8px;
	}
	.no-sidebar .entry-float .entry-meta,
	.no-sidebar .entry-float .posted-on{
		display: block;
		margin-bottom: 8px;
	}
}

/* Entry Title */
.entry-header {
	margin-bottom: 24px;
}
.page .entry-header {
	margin-bottom: 40px;
}
.entry-title {
	font-size: 2.5rem;
	letter-spacing: -0.01em;
	line-height: 1.3;
	margin-bottom: 0;
	margin-top: 0;
}
@media screen and (min-width: 540px) {
	.entry-header {
		margin-bottom: 35px;
	}
}
@media screen and (min-width: 980px) {
	.page .entry-header {
		margin-bottom: 60px;
	}
}

/* Featured Image */
.post-thumbnail {
	margin-bottom: 24px;
}
.post-thumbnail img {
	width: 100%;
	transition: 0.5s ease-in-out;
}
.post-thumbnail a:hover img {
	opacity: 0.85;
}
.post-thumbnail-large img {
	width: 100%;
}
@media screen and (min-width: 540px) {
	.post-thumbnail {
		margin-bottom: 32px;
	}
}

/* Entry Content */
.intro {
	color: #777;
	font-size: 118.8%;
	line-height: 1.6;
}

/* Entry Summary */
.post-summary {
	padding-bottom: 15px;
}
.post-summary .entry-title {
	font-size: 1.75rem;
}
.post-summary .entry-summary {
	color: #666;
	font-size: 93.8%;
}
a.continue-reading {
	text-transform: uppercase;
}
@media screen and (min-width: 540px) {
	.post-summary .entry-header {
		margin-bottom: 24px;
	}
	.post-summary .post-thumbnail {
		float: right;
		margin-left: 30px;
		min-width: 130px;
		padding-top: 2px;
		width: 28%;
	}
}

/* Entry Footer */
.entry-footer {
	margin-top: 45px;
}
.entry-footer-meta {
	color: #999;
	font-size: 93.8%;
}
.tags-links {
	margin-top: 15px;
}

/* Author Profile */
.author-profile {
	margin-top: 60px;
}
.author-profile-avatar {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 20px;
}
.author-profile-avatar img {
	border-radius: 50%;
}
.author-profile-meta {
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 15px;
	vertical-align: middle;
}
.author-profile-name strong {
	font-weight: 600;
}
.author-profile-description {
	font-size: 93.8%;
	margin-top: 10px;
}

/* Sticky Post */
.sticky {
}
.featured {
	background-color: #e6e6e6;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 75%;
	margin-bottom: 12px;
	margin-right: 8px;
	padding: 4px 10px 3px 12px;
	text-transform: uppercase;
}

/* Archive */
.page-title {
	font-size: 1.5rem;
	margin-bottom: 12px;
	margin-top: 0;
}
.page-content {
	margin-bottom: 60px;
}

/* 404 */
.error-404 {
	margin-bottom: 150px;
	margin-top: 60px;
	text-align: center;
}
.error-404 .page-title {
	font-size: 2rem;
}

/* Hide Title */
.post-full .format-aside .entry-title,
.post-full .format-image .entry-title,
.post-full .format-link .entry-title,
.post-full .format-quote .entry-title,
.post-full .format-status .entry-title {
	display: none;
}

/* Link */
.format-link .entry-content a {
	font-style: italic;
}

/* Quote */
.format-quote .entry-content blockquote,
blockquote.alignleft,
blockquote.alignright,
blockquote.aligncenter {
	font-size: 150%;
	margin-bottom: 1.1em;
}
blockquote.alignleft,
blockquote.alignright {
	max-width: 230px;
}
blockquote.alignleft p,
blockquote.alignright p,
blockquote.aligncenter p {
	margin-bottom: 0;
}

/* Status */
.format-status .entry-content {
	font-size: 112.5%;
}

/* Gallery */
.gallery {
	margin-bottom: 30px;
}
.gallery-item {
	display: inline-block;
	line-height: 1;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery .gallery-caption {
	display: none;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}


/* Gutenberg
------------------------------------------------------------ */

/* Base
   This section incorporates code from Atomic Blocks */
.wp-block-gallery {
	margin-left: 0;
	margin-bottom: 1.2em;
}
.wp-block-image figcaption {
	font-size: 15px;
	margin-top: 1em;
}
.entry-content .wp-block-gallery {
	padding-left: 0;
}
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
	padding-top: 0;
}
.wp-block-columns {
	margin-bottom: 1.2em;
}

/* Button */
.wp-block-button a {
	color: #fff;
	text-decoration: none;
}
.wp-block-button a:hover {
	opacity: 0.9;
}
.wp-block-button__link {
	font-size: 100%;
	padding: 9px 24px;
}


/* Navigations
------------------------------------------------------------ */

/* Pagination */
.pagination {
	color: #777;
	font-size: 93.8%;
	margin-bottom: 30px;
}
.pagination a {
	text-decoration: none;
}
.pagination .page-numbers {
	display: none;
	padding: 8px 18px;
	margin-right: 6px;
}
.pagination .prev,
.pagination .next {
	display: inline-block;
}
.pagination .dots {
	padding-left: 10px;
	padding-right: 10px;
}
.pagination a.page-numbers {
	border: solid 1px #ddd;
}
.pagination a.page-numbers:hover {
	border-color: #ccc;
	color: #333;
}
.pagination .current {
	background-color: #eee;
	border: solid 1px #ccc;
	color: #333;
	font-weight: 700;
}
@media screen and (min-width: 640px) {
	.pagination .page-numbers {
		display: inline-block;
	}
}

/* Page Links */
.page-links {
	color: #777;
	clear: both;
	font-size: 93.8%;
	margin-bottom: 30px;
	margin-top: 50px;
}
.page-links .page-numbers {
	background-color: #eee;
	border: solid 1px #ccc;
	color: #333;
	font-weight: 700;
	padding: 8px 16px;
	margin-left: 4px;
}
.page-links a {
	text-decoration: none;
}
.page-links a .page-numbers {
	background-color: transparent;
	border: solid 1px #ddd;
	color: #777;
	font-weight: normal;
}
.page-links a .page-numbers:hover {
	border: solid 1px #ccc;
	color: #333;
}

/* Post Navigation */
.post-navigation {
	line-height: 1.4;
	margin-bottom: 30px;
}
.post-navigation .nav-previous {
	margin-bottom: 30px;
}
.post-nav-title {
	color: #999;
	font-size: 81.3%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 8px;
}
@media screen and (min-width: 640px) {
	.post-navigation .nav-previous {
		float: left;
		margin-bottom: 0;
		width: 48%;
	}
	.post-navigation .nav-next {
		float: right;
		text-align: right;
		width: 48%;
	}
}

/* Comment Navigation */
.comment-navigation {
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-top: 10px;
}
.comment-navigation .nav-previous {
	float: left;
	width: 48%;
}
.comment-navigation .nav-next {
	float: right;
	text-align: right;
	width: 48%;
}
.comment-navigation a {
	color: #777;
	text-decoration: underline;
}
.comment-navigation a:hover {
	color: #333;
}


/* Comments
------------------------------------------------------------ */

/* Base */
.comments-area {
	font-size: 93.8%;
	margin-bottom: 30px;
	margin-top: 90px;
}

/* Comment Header */
.comments-title,
.comment-reply-title {
	font-size: 1.3rem;
	margin-bottom: 25px;
	margin-top: 0;
}
.comment-reply-title {
	margin-top: 50px;
}
.comment-respond:only-child .comment-reply-title,
.comment-list .comment-reply-title {
	margin-top: 0;
}

/* Comment Structure */
.comment-list {
	border-bottom: solid 1px #e6e6e6;
	list-style: none;
	margin: 0 0 20px;
}
.comment-list .children {
	list-style: none;
	margin-left: 25px;
}
.comment-list .comment-body {
	border-top: solid 1px #e6e6e6;
	padding-bottom: 30px;
	padding-top: 30px;
	position: relative;
}

/* Comment Meta */
.comment-author {
	font-size: 106.7%;
	font-weight: 600;
	margin-bottom: 2px;
}
.comment-author a {
	border-bottom: dotted 1px #999;
	color: #333;
}
.comment-author a:hover {
	color: #666;
}
.comment-author .avatar {
	border-radius: 50%;
	height: 60px;
	left: 0;
	position: absolute;
	top: 28px;
	width: 60px;
}
.has-avatars .comment .comment-meta {
	margin-left: 75px;
}
.comment-author .says {
	display: none;
}
.comment-metadata {
	font-size: 93.3%;
	margin-bottom: 25px;
}
.comment-metadata a,
a.comment-edit-link {
	color: #999;
}
.comment-metadata a:hover,
a.comment-edit-link:hover {
	color: #666;
}
.comment-edit-link {
	margin-left: 15px;
}

/* Comment Body */
.comment-body .reply a {
	color: #999;
	font-size: 93.3%;
}
.comment-body .reply a:hover {
	color: #666;
}

.comment-awaiting-moderation {
	color: #666;
}

/* Pingback */
.pingback a {
	color: #666;
	text-decoration: underline;
}
.pingback a:hover {
	color: #999;
}

/* Comment Form */
.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url {
	margin-bottom: 15px;
}
.comment-form-comment label {
	display: none;
}
.comment-form-author label,
.comment-form-email label,
.comment-form-url label {
	font-size: 87.5%;
	text-transform: uppercase;
}
.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
	margin-top: 2px;
	width: 100%;
}
.form-submit {
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}
@media screen and (min-width: 540px) {
	.comment-form-author label,
	.comment-form-email label,
	.comment-form-url label {
		float: left;
		line-height: 1;
		margin-top: 1.2em;
		width: 20%;
	}
	.comment-form-author input,
	.comment-form-email input,
	.comment-form-url input {
		float: right;
		margin-top: 0;
		width: 80%;
	}
}


/* Widgets
------------------------------------------------------------ */

/* Base */
.widget {
	color: #666;
	font-size: 93.8%;
}

/* Heading */
.widget-title {
	color: #333;
	font-size: 1.125rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 0;
}

/* Link */
.widget a {
	text-decoration: underline;
}
.widget li a {
	text-decoration: none;
	border-bottom: solid 1px #ddd;
}

/* List */
.widget ul {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
}
.widget ul li {
	margin-bottom: 14px;
}
.widget ul ul {
	margin-left: 24px;
	margin-top: 14px;
}

/* Recent Posts */
.widget_recent_entries .post-date {
	color: #999;
	display: block;
	font-size: 86.7%;
	margin-top: 4px;
}

/* Search */
.widget_search input[type="search"] {
	margin-top: 0;
	max-width: 320px;
	width: 100%;
}
.widget_search .search-submit {
	display: none;
}

/* Tag Cloud */
.widget_tag_cloud a {
	text-decoration: none;
}

/* Calendar */
.widget_calendar table {
	font-size: 93.3%;
	line-height: 36px;
	margin-bottom: 0;
	max-width: 320px;
}
.widget_calendar caption {
	text-transform: uppercase;
}
.widget_calendar td,
.widget_calendar th {
	padding: 0;
	text-align: center;
}
.widget_calendar thead th {
	padding: 2px 0;
}
.widget_calendar tbody td a {
	background-color: #eee;
	display: block;
	text-decoration: underline;
}
.widget_calendar tbody td a:hover {
	color: #666;
	background-color: #e6e6e6;
}
.widget_calendar tfoot td {
	border-bottom: none;
	padding-top: 8px;
}
.widget_calendar tfoot td a {
	text-decoration: underline;
	text-transform: uppercase;
}
.widget_calendar tfoot td a:hover {
	color: #999;
}
.widget_calendar tfoot td#prev {
	text-align: left;
}
.widget_calendar tfoot td#next {
	text-align: right;
}

/* RSS */
.widget_rss ul li {
	line-height: 1.4;
	margin-bottom: 28px;
}
.widget_rss .rss-date,
.widget_rss .rssSummary,
.widget_rss cite {
	color: #999;
	font-size: 93.8%;
}
.widget_rss .rss-date {
	display: block;
	margin-bottom: 4px;
	margin-top: 6px;
}
.widget_rss .rssSummary {
	margin-bottom: 4px;
}

/* Write Profile */
.profilewidget-profile {
	display: inline-block;
	margin-right: 18px;
}
.profilewidget-profile img {
	border-radius: 50%;
	margin-bottom: 20px;
	width: 100px;
}
.profilewidget-meta {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: middle;
}
.profilewidget-name {
	font-size: 112.5%;
}
.profilewidget-name strong {
	color: #333;
	font-weight: 600;
}
.profilewidget-link {
	margin-top: 4px;
}
.profilewidget-link.menu a {
	text-decoration: none;
}


/* Footer
------------------------------------------------------------ */

/* Footer */
.site-bottom {
	color: #999;
}
.site-bottom a {
	color: #666;
}
.site-bottom a:hover,
.site-bottom .current-menu-item > a {
	color: #111;
}
.site-copyright,
.site-credit {
	font-size: 87.5%;
	margin-bottom: 12px;
}
.site-credit-sep {
	color: #ccc;
	position: relative;
	top: -0.05em;
}


/* Plugins
------------------------------------------------------------ */

/* Jetpack Infinite Scroll */
.infinite-scroll .pagination {
	display: none;
}
.infinite-loader {
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding: 21px 0;
	width: 25px;
}
#infinite-handle {
	margin-bottom: 60px;
	text-align: center;
}
#infinite-handle span {
	background-color: #eee !important;
	color: #666 !important;
	display: block;
	font-size: 93.8% !important;
	padding: 20px 0 !important;
	transition: .3s ease-in-out;
}
#infinite-handle span:hover {
	background-color: #e2e2e2 !important;
	color: #333 !important;
}

/* Jetpack Widgets */
.widget_top-posts ul {
	counter-reset: number;
}
.widget_top-posts li {
	padding-left: 35px;
	padding-top: 12px;
	position: relative;
}
.widget_top-posts li:before {
	background-color: #e6e6e6;
	border-radius: 3px;
	color: #444;
	content: counter(number) !important;
	counter-increment: number;
	font-weight: 400;
	height: 23px;
	left: 0;
	line-height: 23px;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
	top: 13px;
	width: 23px;
}
.widgets-list-layout li {
	margin-bottom: 0 !important;
}
.widgets-list-layout .widgets-list-layout-blavatar {
	margin-right: 12px;
	width: 40px !important;
}
.widgets-list-layout-links {
	float: none !important;
	overflow: hidden;
	width: auto !important;
}
#subscribe-email input {
	margin-top: 0;
	max-width: 300px;
	padding: 0.6em !important;
	width: 100% !important;
}
.jetpack-display-remote-posts h4,
.jetpack-display-remote-posts p {
	font-size: 100% !important;
}
.jetpack-display-remote-posts h4 {
	margin-top: 25px !important;
}
.widget_jetpack_display_posts_widget img {
	margin: 12px 0;
}
.widget-grofile {
	text-align: center;
}
.widget-grofile p,
.widget-grofile h4,
.widget-grofile ul {
	text-align: left;
}
.widget-grofile h4 {
	font-size: 100%;
	font-weight: 600;
}
.grofile-meta h4 {
	font-size: 118.8%;
	text-align: center;
}
.grofile-thumbnail {
	border-radius: 50%;
	max-width: 200px !important;
}
ul.grofile-urls {
	margin-bottom: 1.6em;
	margin-top: 0;
}

/* Jetpack Sharing */
.sharedaddy {
	margin-top: 45px;
}

/* Jetpack Related Posts */
#jp-relatedposts {
	margin-bottom: 30px !important;
	margin-top: 0 !important;
	padding-top: 30px !important;
}
#jp-relatedposts h3.jp-relatedposts-headline {
	color: #333;
	display: block !important;
	font-size: 1.125rem !important;
	float: none !important;
	letter-spacing: 0.05em;
	margin-bottom: 30px !important;
	text-align: center;
	text-transform: uppercase;
}
#jp-relatedposts h3.jp-relatedposts-headline em:before {
	content: none !important;
}
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
	margin-bottom: 30px !important;
	transition: opacity .2s ease-in-out;
}
#jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img {
	margin-bottom: 16px;
}
#jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
	font-size: 1.063rem !important;
	line-height: 1.4 !important;
	margin-bottom: 8px !important;
}
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a,
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a:hover {
	color: #111;
	text-decoration: none !important;
}
#jp-relatedposts .jp-relatedposts-items p {
	color: #999;
	font-size: 87.5%;
	margin-bottom: 6px;
}
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context, #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date {
	opacity: 1 !important;
}
@media only screen and (max-width: 400px) {
	#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
		width: 100% !important;
		clear: both !important;
	}
}
@media only screen and (max-width: 640px) {
	#jp-relatedposts .jp-relatedposts-items-visual {
		margin-right: -20px !important; 
	}
}

/* Jetpack Comments */
.comment-form {
	margin-bottom: 30px;
}
.comment-subscription-form {
	margin-bottom: 0.6em;
}

/* Jetpack Stats */
#wpstats {
	display: none;
}

/* Contact Form 7 */
.wpcf7-list-item-label {
	font-size: 93.8%;
}
.wpcf7-file {
	border: solid 1px #e6e6e6;
	padding: 5px;
}

/* Disqus */
#disqus_thread {
	margin-bottom: 60px;
}


/* Print
------------------------------------------------------------ */

@media print {
	html, body {
		background: none !important;
		color: #000 !important;
		font-size: 10pt !important;
	}
	.main-navigation,
	.widget,
	.comments-area .comment-edit-link,
	.comments-area .reply,
	.comment-respond,
	.navigation,
	#infinite-handle,
	.footer-widget-area,
	.footer-social-link,
	.footer-navigation {
		display: none !important;
	}
	.site-content {
		max-width: none;
	}
	.header-image,
	.post-thumbnail-large {
		margin-left: 0;
		margin-right: 0;
	}
	.site-bottom,
	.site-bottom a {
		color: #000;
	}
}

/* Dark mode
------------------------------------------------------------ */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #041c21;
		color:  #9bdeec;
	}

	.site-title a, .site-title a:hover {
		color:  #9bdeec;
	}

	.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a {
		color:  #eee;
	}

	h1, h2, h3, h4, h5, h6, .site-title, .post-summary .entry-summary {
		color:  #9bdeec;
	}

	blockquote, blockquote::before {
		color: #8ac5d1;
	}

}
